<div class="container" style="clear: left;">
<button class="btn btn-success" [routerLink]="['../']" style="float: right;">back</button>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>{{sd.studentName}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Father Name</td>
            <td>{{sd.fatherName}}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{sd.gender}}</td>
          </tr>
          <tr>
            <td>Department</td>
            <td>{{sd.department}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{sd.address}}</td>
          </tr>
          <tr>
            <td>Mail</td>
            <td>{{sd.emailId}}</td>
          </tr>
          <tr>
            <td>Age</td>
            <td>{{sd.age}}</td>
          </tr>
          <tr>
            <td>Term accepted</td>
            <td>{{sd.termsAndCondition}}</td>
          </tr>
        </tbody>
      </table>
    
</div>