<div ngIf= false>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
Create Ticket
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Ticket</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Customer Type</label>
                  
                  <!-- <input list="customerType" > -->
                  <select id="customerType" class="form-control" disabled>
                    <option value="individual" selected >individual</option>
                    </select>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Contract Number</label>
                      
                      <input list="ContractNumber" class="form-control"(change)="contractNumberSelected(cn.value)" #cn>
                      <datalist id="ContractNumber">
                        <option  *ngFor= 'let item of contractDetailsList'   value={{item.ContractNumber}} (click)="contractNumberSelected(item.ContractNumber)">
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Ticket Channel</label>
                      <input list="ticketChannel" class="form-control">
                      <datalist id="ticketChannel">
                        <option value="{{item}}" *ngFor= 'let item of ticketChannel'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Customer Name</label>
                  
                  <!-- <input list="customerType" > -->
                  <select id="customerType" class="form-control" disabled>
                    <option value="CIN0000150" selected >CIN0000150</option>
                    </select>
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>  
                <div class="form-group">
                      <label for="exampleInputEmail1">Labour Id</label>
                      <input list="labourId" class="form-control">
                      <datalist id="labourId">
                        <option value={{item.EmployeeId}} *ngFor='let item of employeeDetailsList'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
              </div>
          </div>
      
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Contact No</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Ticket Type</label>
                      <input list="ticketType" class="form-control" (change)=ticketTypeSelected(tt.value) #tt>
                      <datalist id="ticketType">
                        <option value="{{item.Name}}" *ngFor= 'let item of ticketType'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Assigned To</label>
                      <input list="assignedTo" class="form-control">
                      <datalist id="assignedTo">
                        <option value="{{item.Name}}" *ngFor= 'let item of assignedTo'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Category</label>
                      <input list="category" class="form-control">
                      <datalist id="category">
                        <option value="{{item.TicketGroupName}}" *ngFor= 'let item of category'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    
              </div>
              <div class="col-6">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Department</label>
                      <input list="departmentList" class="form-control" (change)="deparetmentSelected(dep.value)" #dep>
                      <datalist id="departmentList">
                        <option value="{{item.Name}}" *ngFor= 'let item of departmentList'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Priority</label>
                      <input list="priority" class="form-control">
                      <datalist id="priority">
                        <option value="{{item.Name}}" *ngFor= 'let item of priority'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Sub Category</label>
                      <input list="customerType" class="form-control">
                      <datalist id="customerType">
                        <option value="customerType" *ngFor= 'let a of [1]'>
                      </datalist>
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
      
                  
                  </div>
      
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Contact No</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Contact No</label>
              <textarea  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" rows ="3"></textarea>
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
          <div class="form-group">
              <label for="exampleFormControlFile1">Example file input</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
      
            <!-- <div class="md-form">
              <input type="search" id="form-autocomplete-4" class="form-control mdb-autocomplete">
              <button class="mdb-autocomplete-clear">
                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                  <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </svg>
              </button>
              <label for="form-autocomplete-4" class="active">What is your favorite US state?</label>
            </div>
       -->
      <!-- <div class="dropdown">
        <button onclick="dropdownOpen()" class="form-control">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="">
          <a href="#about">About</a>
          <a href="#base">Base</a>
          <a href="#blog">Blog</a>
          <a href="#contact">Contact</a>
          <a href="#custom">Custom</a>
          <a href="#support">Support</a>
          <a href="#tools">Tools</a>
        </div>
      </div> -->
      </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




<div class="container">
<table class="table">
    <thead class="tablehead">
      <tr>          
        <th scope="col">Ticket Id</th>
        <th scope="col">Ticket Date</th>
        <th scope="col">Created By</th>
        <th scope="col">Contract Number</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Status</th>
        <th scope="col">Ticket Type</th>
        <th scope="col">Priority</th>
        <th scope="col">Accuracy</th>
       <th scope="col">Subject</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ticketList">
        <th scope="row">{{item.EnquiryId}}</th>
        <td>{{item.EnquieryDate}}</td>
        <td>{{item.CreatedBy}}</td>
        <td>{{item.ContractNumber}}</td>
        <td>{{item.EnquiryId}}</td>
        <td>{{item.StatusName}}</td>
        <td>{{item.TicketTypeName}}</td>
        <td>{{item.PriorityName}}</td>
        <td>{{item.Accuracy}}</td>
        <td>{{item.Subject}}</td>
      
      </tr>

    </tbody>
  </table>
</div>
</div>
