.headerbg{
    background-color: #333333;
}
.header-first-block{
    clear: both;
    overflow: overlay;
margin: 20px 0 20px 0;
}
.header-first-block img{
float: left;
}
.header-first-block div{
float: right;
}
.header_navbar{

}
nav ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
  }
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }


  .body{
background-color: azure;
  }
  .footer{
      background-color: #333333;
  }
  #footer_list{
      overflow: overlay;
      display: flex;
      justify-content: space-between;
  }
  #footer_list div{
      float:left;
      width:23%;
  }
  #footer_list div ul{
      margin: 0;
      padding: 0;
}
  #footer_list div ul li{
      list-style: none;
      color:#df8e06;
      border-bottom: 2px solid #df8e06;

  }
  #footer_list div ul li a{
      color: #df8e06;
  }
  .modal-body{
    /* height: 300px; */
    overflow-y: auto;
  }
  #accordian_title{
      background-color: #b2b5b7;
      padding: 5px;
      font-size: 25px;
    color: #0f130e;
    font-weight: 600;
  }
  .tab_content{
      padding: 15px 0 0 5px;
  }
  .collapse{
      border: 1px solid;
  }
  .error_block{
      background-color: aliceblue;
  }