<div class="container-fluid headerbg" style="padding-top: 20px;">
  <div class="container">
    <div class="header-first-block">
      <img
        class="header_logo"
        src="./../../assets/img/hour-of-code-logo.jpg"
        alt="header-logo"
        width="150"
        height="60"
      />
      <div class="header_search">
        <input type="text" class="header_search_text" />
        <input type="button" class="header_search_button" value="search" />
      </div>
    </div>
    <nav class="header_navbar">
      <ul>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="body">
  <div class="container">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#task2_modal"
(click)= "formReset()"
id='button'
>
      open student form
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="task2_modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="task2_modalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">task2_modal</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              #closebutton
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <!-- entire form element -->

              <form [formGroup]="studentForm">
                <!-- text box -->
                <!-- student name -->
                <div class="form-group row">
                  <label for="studentName" class="col-sm-2 col-form-label"
                    >Student Name</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="studentName"
                      formControlName="studentName"
                      placeholder="Student Name"
                    />
                    <div
                      class="error_block"
                      *ngIf="studentName.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger">
                        student name should be minimum of 3 character </small
                      >
                      <!-- <br />
                      <small class="text-danger">
                        student name should be minimum of 3 character </small
                      ><br />
                      <small class="text-danger">
                        student name should be minimum of 3 character
                      </small> -->
                    </div>
                  </div>
                </div>
                <!-- father name -->
                <div class="form-group row">
                  <label for="fatherName" class="col-sm-2 col-form-label"
                    >Father Name</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="fatherName"
                      formControlName="fatherName"
                      placeholder="enter Father Name"
                    />
                    <div
                      class="error_block"
                      *ngIf="fatherName.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger">
                        father name reqired </small
                      ><br />
                      <small class="text-danger">
                        father name should be minimum 3 character </small
                      ><br />
                    </div>
                  </div>
                </div>
                <!-- radio button -->
                <!-- gender -->
                <div class="form-group row">
                  <label for="gender" class="col-sm-2 col-form-label"
                    >Gender</label
                  >
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="genderMale"
                        formControlName="gender"
                        value="1"
                        checked
                      />
                      <label class="form-check-label" for="genderMale">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="gender"
                        id="genderFemale"
                        formControlName="gender"
                        value="2"
                      />
                      <label class="form-check-label" for="genderFemale">
                        Female
                      </label>
                    </div>
                    <div
                      class="error_block"
                      *ngIf="gender.touched || formSubmitted"
                    >
                      <!-- error statement -->
                      <small class="text-danger"> select the gender</small>
                    </div>
                  </div>
                </div>

                <!-- date -->
                <!-- dropdown -->
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="department"
                    >Department</label
                  >
                  <select
                    class="custom-select col-sm-10"
                    id="department"
                    formControlName="department"
                    placeholde="select department"
                  >
                    <option selected>Choose...</option>
                    <option value="1">EEE</option>
                    <option value="2">CSE</option>
                    <option value="3">Mech</option>
                  </select>
                  <div
                    class="error_block"
                    *ngIf="department.touched || formSubmitted"
                  >
                    <!-- error statements -->
                    <small class="text-danger">
                      select any one of the department
                    </small>
                  </div>
                </div>
                <!-- textarea -->
                <!-- address -->
                <div class="form-group row">
                  <label for="address" class="col-sm-2 col-form-label"
                    >Address</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      class="form-control"
                      rows="5"
                      id="address"
                      formControlName="address"
                      placeholder="enter your address"
                    ></textarea>
                    <!-- <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com"> -->
                    <div
                      class="error_block"
                      *ngIf="address.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger"> enter your address</small><br>
                      <small class="text-danger">
                        address should be minimum 10 characters
                      </small>
                    </div>
                  </div>
                </div>
                <!-- email -->
                <!-- mail Id -->
                <div class="form-group row">
                  <label for="emailId" class="col-sm-2 col-form-label"
                    >Email</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="email"
                      class="form-control"
                      id="emailId"
                      formControlName="emailId"
                      placeholder="email address"
                    />
                    <div
                      class="error_block"
                      *ngIf="emailId.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger">
                        provide valid email
                      </small>
                    </div>
                  </div>
                </div>
                <!-- number -->
                <!-- age -->
                <div class="form-group row">
                  <label for="age" class="col-sm-2 col-form-label">Age</label>
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      id="age"
                      formControlName="age"
                      placeholder="age"
                      max="25"
                      min= "15"
                    />
                    <div
                      class="error_block"
                      *ngIf="age.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger" >
                        age should be 15 - 25
                      </small>
                    </div>
                  </div>
                </div>
                <!-- password -->
                <div class="form-group row">
                  <label for="Password" class="col-sm-2 col-form-label"
                    >Password</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="password"
                      class="form-control"
                      id="Password"
                      formControlName="password"
                      placeholder="Password"
                    />
                    <div
                      class="error_block"
                      *ngIf="password.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger" >
                        password must be minimum of 6 characters
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="confirmPassword" class="col-sm-2 col-form-label"
                    >Confirm Password</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      placeholder="confirm Password"
                    />
                    <div
                      class="error_block"
                      *ngIf="confirmPassword.touched || formSubmitted"
                    >
                      <!-- error statements -->
                      <small class="text-danger" >
                        confirm password is not match with password 
                      </small>
                    </div>
                  </div>
                </div>
                <!-- check box -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="checked"
                    id="termsAndCondition"
                    formControlName="termsAndCondition"
                  />
                  <label class="form-check-label" for="termsAndCondition">
                    Agree terms and condition
                  </label>
                  <div
                    class="error_block"
                    *ngIf="termsAndCondition.touched || formSubmitted"
                  >
                    <!-- error statements -->
                    <small class="text-danger" >
                      do agree terms and conditions
                    </small>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="task3_modal_save()"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="updateButton()"
            >
              update
            </button>
          </div>
        </div>
      </div>
    </div>

    <h2>Table</h2>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">department</th>
          <th scope="col">mail Id</th>
          <!-- <th scope="col">actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of studentFormList">
          <th scope="row">{{item.studentName}}</th>
          <td>{{item.department}}</td>
          <td>{{item.emailId}}</td>
          <!-- <td> -->
<!-- buttons svg from bootstrap -->
            <!-- <button class="btn btn-primary" (click) = "update(item.emailId)">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
            <button class="btn btn-danger" (click) = "delete(item.emailId)">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
            <button class="btn btn-secondary" (click) = "info(item.emailId)">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                <circle cx="8" cy="4.5" r="1"/>
              </svg>
            </button>
          </td> -->
        </tr>
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>

<div
  class="container-fluid footer"
  style="color: white; background-color: rgb(66, 63, 58);"
>
  <div class="container" id="footer_list">
    <div>
      <h2>hi</h2>
      <ul>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
      </ul>
    </div>

    <div>
      <h2>hi</h2>
      <ul>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
      </ul>
    </div>

    <div>
      <h2>hi</h2>
      <ul>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
      </ul>
    </div>

    <div>
      <h2>hi</h2>
      <ul>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: black; color: white;">
  <div class="container copy_right">
    <span class="copyright_left">
      Copyright &#169; 2009-2020 - All Rights Reserved - Domain Name
    </span>
    <span class="copyright_right">
      Template by os templates
    </span>
  </div>
</div>
