<nav><ul>
    <li><a [routerLink]="['task1']">task1</a></li>
    <li><a [routerLink]="['task2']">task2</a></li>
    <li><a [routerLink]="['task3']">task 3</a></li>
    <li><a [routerLink]="['task4']">task 4</a></li>
    <li><a [routerLink]="['task5']">task 5</a></li>
    
  </ul></nav>
<router-outlet></router-outlet>