<div class="header">
  <div class="container header_area">
    <div class="header-first-block">
      <img
        class="header_logo"
        src="./../../assets/img/hour-of-code-logo.jpg"
        alt="header-logo"
        width="150"
        height="60"
      />
      <div class="header_search">
        <input type="text" class="header_search_text" />
        <input type="button" class="header_search_button" value="search" />
      </div>
    </div>
    <nav class="header_navbar">
      <ul>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
        <li><a href="#">text link</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="body">
    <div class="container"  >
<!-- <div style ="width: 480px;height:300px">  -->
<div id=body_first_block>
<!-- <p>
aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaabbbb bbbbbbbbb bbbbbbbbbbbb bbbbbbbbbbaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaabbbbbb bbbbbbbbbbbbb bbbbbbbbbbbbbb bbaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaaaaaa abbbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbb aaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaabbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbbb baaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa aaaaaaaabbbbbbbbbbbb bbbbbbbbbbbbbbbbb bbbbbbaaaaaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaabb bbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbbaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa bbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaa    aaaa  a a a a a a a a a b b    bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
</p> -->
<p><img src="./../../assets/img/hour-of-code-logo.jpg" alt="Pineapple" style="width:630px;height:300px;float: right;;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>
</div>
<div id="body_second_block">
  <div id = "content"> abc</div>
  <div id = "pic">  
    <div id = "pics">
    <div> </div>
    <div> </div>
    <div> </div>
  </div>
<div></div>
</div>
</div>
<!-- <div>
<img height="300px" width="630px" src="./../../assets/img/hour-of-code-logo.jpg" alt='pic size'>
</div> -->
</div>

</div>
<div
  class="container-fluid footer"
  style="color: white; background-color: #333333"
>
  <div class="container" id = footer_list>
    <div class='fl'>
        <h2>hi</h2>
        <ul>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
        </ul>
    </div>

    <div>
        <h2>hi</h2>
        <ul>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
        </ul>
    </div>

    <div>
        <h2>hi</h2>
        <ul>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
        </ul>
    </div>

    <div>
        <h2>hi</h2>
        <ul>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
            <li><a href="#">text link</a></li>
        </ul>
    </div>


  </div>
</div>
<div
  class="container-fluid "
  style="background-color: black; color: white;"
>
  <div class="container copy_right">
    <span class="copyright_left">
      Copyright &#169; 2009-2020 - All Rights Reserved - Domain Name
    </span>
    <span class="copyright_right">
      Template by os templates
    </span>
  </div>
</div>
