.container{
    width: 960px;
overflow: overlay;
}

.header , .header_area{
background-color: black;
color: aqua;
overflow: hidden;
}
.header div{
    display: block;
  
   
}
.header-first-block, nav{
clear: both;
overflow: auto;
margin: 20px 0px 20px 0px;
}
.header_logo {
    float: left;


}
.header_search{
    float: right;
    
}
.header-first-block{
}
.header_navbar{
    border: 2px white solid;
}
nav ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
.body{
background-color: azure;
}
#body_first_block p{
    overflow: overlay;
}
#content{
    width:470px;
    margin:0 20px 0 0;
    float: left;
}
#pics {
border: 1px solid #D6D6D6;
display: flex;
justify-content: space-between;

/* justify-content: space-between; */

}
#pic {
    width: 470px;
    float: left;
}
#pics div{
border: 1px solid #D6D6D6;
width: 130px; height: 130px;

}
.footer{
    color: aqua;
background-color: black;
}

.copyright_right{
    float: right;
}
.footer_list{
  
}
 #footer_list div {
float: left;
width : 23%;
display: flex;
justify-content: space-between;
}

#footer_list div ul li  {
    /* text-decoration: none; */
    border-bottom: 3px solid #d6d6d6;

}
#footer_list div ul {
    list-style-type: none;
    /* list-style-position: outside; */
    margin: 0;
    padding: 0;
    margin-right: 20px;
}