<div class="container-fluid headerbg" style="padding-top: 20px;">
    <div class="container ">
      <div class="header-first-block">
        <img
          class="header_logo"
          src="./../../assets/img/hour-of-code-logo.jpg"
          alt="header-logo"
          width="150"
          height="60"
        />
        <div class="header_search">
          <input type="text" class="header_search_text" />
          <input type="button" class="header_search_button" value="search" />
        </div>
      </div>
      <nav class="header_navbar">
        <ul>
          <li><a href="#">text link</a></li>
          <li><a href="#">text link</a></li>
          <li><a href="#">text link</a></li>
          <li><a href="#">text link</a></li>
          <li><a href="#">text link</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="body">
      <div class="container"  >

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#task2_modal" (click)="tab ='first'">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="task2_modal" tabindex="-1" role="dialog" aria-labelledby="task2_modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">task2_modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " [ngClass]="{'active' : tab=='first'}" (click)="tabs('first')" >accordian</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active' : tab =='second'}" (click)="tabs ('second')">dropdown</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active' : tab=='third'}" (click)="tabs  ('third')">alert</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active' : tab=='fourth'}" (click)="tabs ('fourth')">confirm prompt</a>
                </li>
              </ul>

<div *ngIf= "tab=='first'"  class="tab_content">
  <!-- accordian -->
<div data-toggle="collapse" data-target="#demo" id=accordian_title>Accordian 1</div>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div>

<div data-toggle="collapse" data-target="#demo2" id=accordian_title>Accordian 2</div>

<div id="demo2" class="collapse">
Lorem ipsum dolor text....
</div>


<div data-toggle="collapse" data-target="#demo3" id=accordian_title>Accordian 3</div>

<div id="demo3" class="collapse">
Lorem ipsum dolor text....
</div>


</div>
<div *ngIf= "tab=='second'" class="tab_content">
  <!-- dropdown -->
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="">Action</a>
      <a class="dropdown-item" href="">Another action</a>
      <a class="dropdown-item" href="">Something else here</a>
    </div>
  </div>
</div>

<div *ngIf= "tab=='third'" class="tab_content">
  <!-- alert -->
  <button class="btn btn-warning" (click)="alert()">alert</button>

</div>
<div *ngIf= "tab=='fourth'" class="tab_content">
  <button class="btn btn-danger" (click)="confirm()">delete</button>
<div id =demo></div>
  <!-- confirm prompt -->
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="task2_modal_save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



<h2>Table</h2>

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
</div>
  </div>

        <div
    class="container-fluid footer"
    style="color: white; background-color: rgb(66, 63, 58);"
  >
    <div class="container" id = footer_list>
      <div>
          <h2>hi</h2>
          <ul>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
          </ul>
      </div>
  
      <div>
          <h2>hi</h2>
          <ul>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
          </ul>
      </div>
  
      <div>
          <h2>hi</h2>
          <ul>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
          </ul>
      </div>
  
      <div>
          <h2>hi</h2>
          <ul>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
              <li><a href="#">text link</a></li>
          </ul>
      </div>
  
  
    </div>
  </div>
  <div
    class="container-fluid "
    style="background-color: black; color: white;"
  >
    <div class="container copy_right">
      <span class="copyright_left">
        Copyright &#169; 2009-2020 - All Rights Reserved - Domain Name
      </span>
      <span class="copyright_right">
        Template by os templates
      </span>
    </div>
  </div>
  